
SourceCode/output.log
*.o
*.d
*.elf
*.hex
*.map
AutoController_Manual.doc
AutoController_Manual.docx
SourceCode/makefile
SourceCode/Bots/RemoteControl_AutoMaxLair/
SourceCode/Bots/Others_Testing/
Screenshots/
Logs/
Hex/
StreamCounters/
Resources/SmartStats.ini
Resources/Tesseract/capture.png
Resources/Tesseract/output.txt
